* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --darkBlue: hsl(234, 12%, 34%);
    --grayBlue: hsl(229, 6%, 66%);
    --lightGray: hsl(0, 0%, 98%);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--lightGray);
}

header {
    display: block;
    text-align: center;
    margin: 40px auto;
    max-width: 500px;
}

h1 {
    margin: 10px auto;
    font-weight: 200;
}

h1 span {
    font-weight: 600;
}

h3 {
    margin: 10px;
}

p {
    font-size: 15px;
    color: var(--grayBlue);
    margin: 10px 0 30px;
}

.card img {
    display: block;
    margin-left: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
}

.card {
    width: 350px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 15px;
    padding: 30px;
    overflow: hidden;
}

/*
.card::after {
    content: '';
    background-color: var(--red);
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;   
}
*/
.calculator {
    border-top: 5px solid var(--blue);
}

.team {
    border-top: 5px solid var(--red);
}

.supervisor {
    border-top: 5px solid var(--cyan);
}

.karma {
    border-top: 5px solid var(--orange);
}


/*
.supervisor::after {
    background-color: var(--cyan);
}

.karma::after {
    background-color: var(--orange);
}
*/

.calculator {
    transform: translateY(50%);
}

.supervisor {
    transform: translateY(50%);
}

/* Feel free to remove these styles or customise in your own stylesheet 👍 */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 765px) {
    .supervisor {
        transform: translateY(0);
    }

    .calculator {
        transform: translateY(0);
    }
}